<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="multi.pro01.userinfo.UserVO" alias="user"/>
		<typeAlias type="multi.pro01.restaurant.RestaurantVO" alias="restaurant"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/user.xml"/>
		<mapper resource="mapper/restaurant.xml"/>
	</mappers>
</configuration>